[submodule "llvm-project"]
	path = llvm-project
	url = https://github.com/Python-for-HPC/llvm-project.git
[submodule "llvmliteWithOpenmp"]
	path = llvmliteWithOpenmp
	url = https://github.com/Python-for-HPC/llvmliteWithOpenmp.git
	branch = de5e833
[submodule "NumbaWithOpenmp"]
	path = NumbaWithOpenmp
	url = https://github.com/Python-for-HPC/NumbaWithOpenmp.git
	branch = 1051f77
