name: Deploy containers

on:
  workflow_call:

jobs:
  deploy-containers:
    runs-on: ubuntu-latest
    steps:
      - name: Set up QEMU
        uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f

      - name: Login to GitHub Container Registry
        uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push pyomp container
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83
        with:
          platforms: linux/amd64,linux/arm64
          file: buildscripts/containers/Dockerfile
          push: true
          provenance: false
          tags: |
            ghcr.io/python-for-hpc/pyomp:latest
            ghcr.io/python-for-hpc/pyomp:${{ github.event.release.tag_name }}
